---
- include_role: {name: corpusops.roles/include_jinja_vars}
  tags: [cops_provision_load_vars]
- become: true
  block:
    - name: "VAGRANT: read provision_settings"
      shell: cat /root/vagrant/provision_machines.json
      changed_when: false
      register: provision_machines_raw
      no_log: "{{not (cops_vars_debug|default(false))}}"
      tags: [cops_provision_load_vars]
    - name: "VAGRANT: read provision_settings"
      shell: cat /root/vagrant/provision_settings.json
      changed_when: false
      register: provision_settings_raw
      no_log: "{{not (cops_vars_debug|default(false))}}"
      tags: [cops_provision_load_vars]
    - set_fact:
        cacheable: false
        vboxes_cops: "{{provision_machines_raw.stdout|from_json}}"
        vbox_cops: "{{provision_settings_raw.stdout|from_json}}"
      no_log: "{{not (cops_vars_debug|default(false))}}"
      tags: [cops_provision_load_vars]
    - debug:
        msg:
          vboxes_cops: "{{vboxes_cops}}"
          vbox_cops: "{{vbox_cops}}"
      when: vboxes_cops.DEBUG
      tags: [cops_provision_load_vars]
# cant inline the task as we dinamically include a module
# we need also to dynamically load the task
- include_tasks: "_forceskip.yml"
- include_tasks: "{{cops_playbooks}}/provision/lazy/tasks/load_vars.yml"
  tags: [cops_provision_load_vars]
- include_role: {name: corpusops.roles/project/current_user_is_supereditor}
  when: not (SKIP_SET_SUPERDITOR|default(False))
